extends layout

block content
    #content
        - if(message !== 'undefined')
            p #{message.error}
            p #{message.success}
        #app!=html
        script.
            __DATA__ = !{data}
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js')
    script(src='/js.js')
